.courses {
  padding: 40px 20px;
  text-align: center;
  min-height: 70vh;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;

  h2 {
    font-size: 32px;
    color: #8a4baf;
    margin-bottom: 25px;
    margin-top: 0px;
    font-weight: 800;
  }

  .course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
